html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    
}

header {
    flex: 1;
    background: red;
}

main {
    flex: 20;
    background: orange;
}

footer {
    flex: 1;
    background: blue;
}




header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    
}

li {
    text-decoration-style: none;
    padding: 2em;
}

#logo {
    width: 120px;
    height: 120px;
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

